@use '../../../styles/mixins.scss' as *;

.counter {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  justify-content: center;
  color: var(--main-color-2-default);
  user-select: none;

  &--accent {
    padding: 15px 22px;
    background-color: var(--accent-color-1-default);
    @include font-text-accent;
    color: var(--main-color-3);

    .counter__dec, .counter__inc {
      border-style: none;

      &:hover {
        color: var(--main-color-4);
        background-color: transparent;
      }
  
      &:active {
        color: var(--main-color-1);
      }
    }
  }

  &__value {
    width: 24px;
    text-align: center;
  }

  &__dec, &__inc {
    padding: 0;
    margin: 0;
    width: 24px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: 1px solid var(--main-color-2-default);
    border-radius: 4px;
    font: inherit;
    font-size: 20px;
    cursor: pointer;
    color: inherit;

    &:hover {
      background-color: var(--main-color-2-shadow-2);
    }

    &:active {
      background-color: var(--main-color-2-shadow-1);
      color: var(--main-color-1);
    }
  }
}