:root {
  --main-color-1: white;
  --main-color-2-default: rgba(194, 202, 214, 1);
  --main-color-2-shadow-1: rgba(194, 202, 214, 0.5);
  --main-color-2-shadow-2: rgba(194, 202, 214, 0.2);
  --main-color-3: rgba(29, 34, 40, 1);
  --main-color-4: rgba(38, 44, 50, 1);

  --accent-color-1-light: rgba(182, 215, 117, 1);
  --accent-color-1-default: rgba(136, 178, 52, 1);
  --accent-color-1-shadow-1: rgba(136, 178, 52, 0.5);
  --accent-color-1-shadow-2: rgba(136, 178, 52, 0.4);
  --accent-color-1-shadow-3: rgba(136, 178, 52, 0.2);

  --status-color-error: rgba(179, 38, 30, 1)
}
