@use '../../../styles/mixins.scss' as *;

.catalog {
  padding: 32px 0;
  flex-grow: 1;

  &__content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px 0;
  }

  &__title {
    @include font-title;
    grid-column: 1 / -1;
  }

  &__headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    gap: 12px 16px;
    grid-column: 1 / -1;
  }

  &__headline-button {
    justify-self: start;
    grid-column: 1 / 2;
  }

  &__select-field {
    justify-self: end;
    width: 167px;
    grid-column: 2 / 3;
  }

  &__search-field {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  &__infinite-scroll-wrapper {
    grid-column: 1 / -1;
    display: block !important;

    @media (min-width: 944px) {
      grid-column: 2 / -1;
    }
  }

  &__product-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 288px);
    gap: 16px;
  }

  &__filter {
    z-index: 1;
    grid-column: 1 / -1;
    @media (min-width: 944px) {
      grid-column: 1 / 2;
      margin-right: 16px;
      grid-column: auto;
      width: 288px;
    }
  }

  &__loading {
    grid-column: 1 / -1;
    margin: 20vh auto;
  }
}

.infinite-scroll-component__outerdiv,
.infinite-scroll-component {
  display: contents;
}
