footer {
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 8px 36px;
  background-color: #88b234;
  font-family: 'Teko', sans-serif;
}

.github-links,
.resource-links {
  display: flex;
  gap: 12px;
  a img {
    transition: all 0.2s ease 0s;
    &:hover {
      opacity: 0.65;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

.github-links {
  a {
    position: relative;
    &:after {
      content: attr(data-title);
      display: none;
    }
    &:hover:after {
      display: block;
      position: absolute;
      top: -20px;
      right: 0;
      width: auto;
      height: 20px;
      background-color: #c2cad6;
      border-radius: 5px;
      border: 2px solid #88b234;
      padding: 0px 3px 3px 3px;
      font-size: 16px;
      color: #1d2228;
      font-style: normal;
      font-weight: 500;
    }
  }
}

.year {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  color: #1d2228;
}

@media (max-width: 768px) {
  footer {
    padding: 8px 24px;
  }
}

@media (max-width: 390px) {
  footer {
    padding: 8px 10px;
  }
}
